.header-font {
  font-family: 'Niveau Grotesk';
}

.outerDiv {
  background-color: #F4F2EB;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

html {
    background-color: #F4F2EB;
}

